<svg
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  width="28px"
  height="40px"
  viewBox="0 0 14.551961 20.399439"
  version="1.1"
  id="svg8"
  [class.ship-in-move]="shipInMove">
  <g id="layer1"
     transform="translate(-23.718068,-25.613178)">
    <path
      class="ship-color flames"
      style="stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
      d="m 30.946803,37.647839 v 8.05145 0"
      id="path4523" />
    <path
      class="ship-color flames"
      id="path4533"
      d="m 33.610354,38.442658 v 4.130121 0"
      style="stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path
      class="ship-color flames"
      style="stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
      d="m 28.283252,38.442658 v 4.130121 0"
      id="path4535" />
    <path
      class="ship-color flames"
      id="path4537"
      d="m 25.619702,39.434845 v 4.130121 0"
      style="stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    <path
      class="ship-color flames"
      style="stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
      d="m 36.273906,39.434845 v 4.130121 0"
      id="path4539" />
    <path
      class="ship-color"
      style="stroke-width:1.32291663;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none"
      d="m 30.994049,26.274555 6.614583,13.229167 -6.614584,-1.960751 -6.614583,1.960751 z"
      id="rect12" />
  </g>
</svg>
